.card {
  border: 1px solid #C2C2C2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 6px 0 #C2C2C2;
  box-shadow: 0 6px 6px 0 #C2C2C2;
  margin: 6px;
}

.selected {
  border: 3px solid #888888;
}
