<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-layout/src/ui-layout.css"/>
    <link rel="stylesheet" href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src='/ui-bootstrap-tpls.js'></script>
    <script src='/app.js'></script>
  </head>
  <body ng-app="app" ng-controller='ApplicationCtrl'>
    <nav class='navbar navbar-default'>
      <div class='container'>
        <ul class='nav navbar-nav'>
          <li><a class='practise' href="/#/practise">Practise</a></li>
          <li><a class='newgame' href="/#/newgame">New Game</a></li>
          <li><a class='login' href="/#/login">Sign In</a></li>
        </ul>
        <p ng-if="currentUser" class="navbar-text navbar-right">{{currentUser.username}}</p>
      </div>
    </nav>
<!--
    <div class="container">
      <h3>Your name:</h3><input type="text" ng-model="username">
    </div>
    <div class="container">
      <button type="button" class="btn btn-sm btn-success" ng-click="newGame()" ng-disabled="username.length===0">New Game</button>
      <button type="button" class="btn btn-sm btn-success" ng-click="practise()">Practise</button>
    </div>
-->
    <div ng-view></div>
  </body>
</html>
